<form method="post" action="/Home/AssessmentCount">
    <div class="container-fluid">
        <div class="jumbotron mt-2">
            <h2>评价列表</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <input type="text" class="form-control" placeholder="选择时间" id='datetimepicker' name="yearmonth" value="" />
            </div>
            <div class="col">
                <button id="ConfirmBtn" type="submit" class="btn btn-primary">确定</button>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col table-responsive">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th>顾客名称</th>
                            <th>评价分数</th>
                            <th>评价时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var chartdata in ViewBag.chardataList)
                        {
                            <tr>
                                <td>@chartdata.name</td>
                                <td>@chartdata.value</td>
                                <td>@chartdata.AssessmentDate</td>
                            </tr>
                        }
                    </tbody>
                    <thead>
                        <tr>
                            <th>人员名称</th>
                            <th>评价分数</th>
                            <th>评价时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var chartdata in ViewBag.chardataPersonList)
                        {
                            <tr>
                                <td>@chartdata.name</td>
                                <td>@chartdata.value</td>
                                <td>@chartdata.AssessmentDate</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        $('#datetimepicker').datetimepicker({
            viewMode: 'years',
            format: 'YYYY-MM',
            date: moment().format('YYYY-MM')
        });
        //$('#datetimepicker').datetimepicker('setStartDate', '@ViewBag.yearMonth');

        $('#datetimepicker').val('@ViewBag.yearMonth');
        
    });
        
</script>